<div class="clear"></div>
<div class="wap_footer">
    <div class="footer_header">
        <div class="footer_noidung">
	        <h3>THƯ VIỆN TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI TPHCM</h3>
	        <p>Tên viết tắt: <strong>GTS LIBRARY</strong></p>

        </div>
        <div class="footer_thongtin">
            <div class="diachi_footer">
             	 Cơ sở chính: Số 2, Đường Võ Oanh, P.25, Q. Bình Thạnh, Thành Phố Hồ Chí Minh
            </div>
            <div class="sdt_footer">
              	Điện thoại: (028) 38992862
            </div>
            <div class="email_footer">
              	Email: support@ut.edu.vn - pdt@ut.edu.vn
            </div>
        </div>
    </div>
  </div>

 <div class="bottom_footer">
 	<div class="bottom_footer_text">
 		<h3>2020 © THƯ VIỆN TRƯỜNG ĐẠI HỌC GIAO THÔNG VẬN TẢI TPHCM.DEVELOPER BY LỘC VÀ LĨNH</h3>
 	</div>
 </div>
