<div class="form_mes hidden">
  <div class="message_server"></div>
  <div class="panel-body hidden" id="messages"></div>
  <textarea name="mes" class="mes" rows="2" cols="20"></textarea>
  <input type="button" class="submit text-center btn btn-primary" value="GỬI">
</div>
