<div class="form-group">
<h1>Editing User</h1>
 <% @user.each do |u| %>
   <%= form_tag(update_path, method: "post") do %>
      <label for="usr">Name:</label>
      <%= text_field_tag :name, params[:name], value:"#{u.name}", class: "form-control"%><br>
      <label for="usr">Department:</label>
     <%= submit_tag "Update", class: "form-control btn btn-success" %><br><br>
   <% end %>
 <% end %>
</div>
