<div class="main_content">
	<div class="baner_gioithieu">
		<h2>Giới thiệu</h2>
	</div>
</div>
<div class="thongdiep_gioithieu">
	<div class="tieude_giua">
		<h2>Thông điệp của thư viện</h2>
	</div>
	<div class="tieude_center">
		Chào mừng các em học sinh, sinh viên, cùng toàn thể thầy cô giáo!
	</div>
	<div class="chitiet_gioithieu">
		<div class="img">
      <%= image_tag("dhvantai", class: "introduce_img")%>
    </div>
		<div class="messege-text">
			<p>Thư viện trường đại học giao thông vận tải thành phố hồ chí minh được khởi dựng năm 1991 trực thuộc Phòng Đào tạo của Phân hiệu Đại học Hàng hải. Với sự chuyên nghiệp, đa tài dần khẳng định vị thế và thương hiệu trong ngành giáo dục Việt Nam</p>
			<p> Với nguồn tài chính vững chắc, hứng quản trị phù hợp cùng đội ngũ giảng viên chuyên nghiệp, sau gần 29 năm hoạt động, thư viện dần khẳng định được tầm quan trọng trong nghành giáo dục, đồng thời thể hiện được đẳng cấp của mình trong những trường top.Thời gian hoạt động của thư viện bắt đầu từ 8h sáng và kết thúc vào lúc 5h chiều</p>
			<p>Là một trong những trường top đầu khu vực TPHCM thư viện có bề dày kinh nghiệm cộng với cơ sở vật chất tốt đáp ứng đủ yêu cầu của sinh viên mới vào trường cũng như năm cuối.Tổng thể thư viện gồm 3 cơ sở lớn gồm bình thạnh, quận 2, quận 12, nguồn tài nguyên thông tin phong phú và đa dạng
			gồm có giáo trình  sách tham khảo, ebook chuyên ngành, luận văn luận án..vv</p>
		</div>
		<div class="clear"></div>
		<div class="messege-bottom">
			<p>Trong hoạch định tương lai thư viện thực hiện hóa mở rộng quy mô, xây dựng các trang thiệt bị tiên tiến, bổ sung nguồn tại liệu phong phú và đa dạng hơn để cạnh tranh với trường top.<br>
			Mạc dù còn khó khăn và thử thách phía trước nhưng chúng tôi tin rằng với sự nhiệt huyết cùng sự cố gắn thì chúng tôi sẽ thành công
			</p>
			<p><strong>cảm ơn!</strong></p>
		</div>
		<div class="line_bottom"></div>
	</div>
</div>
<div class="coso_vatchat">
	<div class="tieude_coso_vatchat">
		<h2>cơ sở vật chất</h2>
	</div>
	<div class="noidung_coso_vatchat">
		<div class="noidung_header">
			<div class="noidung_header_title">
				<h3>cơ sở 1</h3>
			</div>
			<div class="noidung_header_noidung">
				<p> + Phòng đọc : 215 chỗ ngồi<br>

					+ Phòng đọc điện tử: 40 máy tính nối mạng Internet<br>

					+ Phòng mượn sách giáo trình, sách tham khảo về nhà<br>
					<i>
						<b>Địa chỉ:</b> Số 2, đường D3, khu Văn Thánh Bắc, phường 25, quận Bình Thạnh, TP.HCM.<br>
						<b>Điện Thoại:</b> (08) 38 035 654  (Phòng nghiệp vụ) – (08) 35 126 115 (Phòng phát hành).
					</i>
				</p>
			</div>
		</div>

	<div class="noidung_header" style=" margin: 0 0 0 20%;margin-top: 40px;">
			<div class="noidung_header_title">
				<h3>cơ sở 2</h3>
			</div>
			<div class="noidung_header_noidung">
				<p> + Phòng đọc báo, tạp chí: 50 chỗ ngồi<br>

					+ Phòng đọc điện tử: 05 máy tính nối mạng Internet<br>

					+  Phòng mượn sách giáo trình, sách tham khảo về nhà<br>

					+ Phòng bán sách giáo trình và sách chuyên ngành cho sinh <br>
					<i>
						<b>Địa chỉ:</b> Số 17 - đường Trần Não, phường Bình An, quận 2, TP.Hồ Chí Minh.<br>
						<b>Điện Thoại:</b> (08) 37 406 510
					</i>
				</p>
			</div>
	</div>

	<div class="noidung_header" style="max-width: 670px;margin: 0 0 0 44%;margin-top: 40px;">
			<div class="noidung_header_title">
				<h3>cơ sở 3</h3>
			</div>
			<div class="noidung_header_noidung">
				<p> + Phòng đọc: 235 chỗ ngồi

					+ Phòng đọc điện tử: 27 máy tính có nối mạng Internet<br>

					+ Phòng mượn sách giáo trình, sách tham khảo về nhà<br>

					+ Phòng bán sách giáo trình và sách chuyên ngành cho sinh viên<br>
					<i>
						<b>Địa chỉ:</b> 70 - đường Tô Ký, phường Tân Chánh Hiệp, quận 12, TP. Hồ Chí Minh.<br>
						<b>Điện Thoại:</b> (08) 37 406 510
					</i>
				</p>
			</div>
	</div>

</div>
</div>

<div class="wap_lichsu">
	<div class="tieude_lichsu">
		<h2>Lịch sử phát triển</h2>
	</div>
	<div class="noidung_lichsu">
		<div class="lichsu_list">
			<div class="list1">
				<p>Thư viện Trường Đại học Giao thông vận tải Thành phố Hồ Chí Minh được thành lập năm 1991 trực thuộc Phòng Đào tạo của Phân hiệu Đại học Hàng hải.</p>
			</div>
			<div class="list1">
				<p>Tháng 09/1998 Tổ Thư viện trực thộc Phòng Khoa học - Công nghệ (Phòng Đào tạo tách ra).</p>
			</div>
			<div class="list1">
				<p>Ngày 28/06/2001 Hiệu trưởng đã ban hành Quyết định số 41/TCCB với tên gọi Tổ Thư viện trực thuộc trường Đại học Giao thông vận tải Thành phố Hồ Chí Minh.</p>
			</div>
			<div class="list1">
				<p>Ngày 25/10/2011 Hiệu trưởng ban hành Quyết định số 480/QĐ/ĐH GTVT thay đổi tên gọi Tổ Thư viện thành Thư viện trường Đại học Giao thông vận tải Thành phố Hồ Chí Minh.</p>
			</div>
		</div>
	</div>
</div>
<div class="dichvu_thongtin">
	<div class="tieude_dichvu">
		<h2>Dịch vụ thông tin</h2>
	</div>
	<div class="noidung_dichvu">
		<div class="boxtitle_noidung">
			<h3>Tra cứu tài liệu</h3>
		</div>
		<div class="boxlist_noidung">
			<p>+Bạn đọc có thể tra cứu trực tuyến thông qua hệ thống máy tính đặt tại các phòng đọc thư viện.<br>
			+Tra cứu Thư viện số (liên kết với Tài liệu. VN và các trường đại học, cao đẳng …chia sẻ tài nguyên)<br>
			+ Học tập cá nhân<br>

			+ Học nhóm, làm bài tập nhóm<br>

			+ Tìm kiếm thông tin theo chủ đề<br>

			+ Truy cập Cơ sở dữ liệu<br>

			+ Đọc tại chỗ, mượn về nhà, sao chụp, in ấn, photo tài liệu, dịch vụ tham khảo…
			</p>
		</div>
	</div>
</div>
