// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.slidesjs-pagination{
  display: none !important;
}
.slidesjs-container{
  height: 320px !important;
}
.hover:hover{
  background: #eee;
}
.cursor{
  cursor: pointer;
  height: 275px;
  max-width: 16.3% !important;
}
.flexslider{
  width: 98% !important;
  text-align: -webkit-center;
}
.image_slideshow{
  width: 48% !important;
}
.flexslider .slides img {
  height: 300px !important;
}
.borrow{
  position: relative;
}
.btn-borrow{
  position: absolute;
  bottom: 0;
  width: 92%;
}
.bor{
  margin: 2px;
}
.image{
  height: 144px;
  overflow: hidden;
}
.image>p>img {
  width: 186px !important;
  height: 144px !important;
}
.pagination{
}
