// Place all the styles related to the borrows controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.borr_notice{
  position: relative;
}
.borr_notice>small{
  position: absolute;
  color: red;
  font-weight: bold;
  top: -3%;
}
.borrow_notice{
  position: absolute;
  color: red;
  top: -16%;
  left: 101%;
}
.menu_borrow_notice{
  position: relative;
}
.time_over{
  color: red;
}
