.cart_image > p > img {
  width: 40% !important;
  height: 100px !important;
}
.cursor{
  cursor: pointer;
}
.cart_align{
  margin: 12% 0 20% 0;
}
.jconfirm-buttons{
  width: 100%;
}
.jconfirm-buttons > .btn-default{
  float: right !important;
}
