// Place all the styles related to the equipment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.turn {
  cursor: pointer;
}
.detectedface{
  position: fixed;
  top: 41%;
  left: 38%;
}
.pic{
  width: 50%;
}
.face{
  position: absolute;
  border: 2px solid #009900;
}
#detect{
  margin-left: 15%;
  cursor: pointer;
  cursor: hand;
}
#capture{
  width: 50px;
  height: 50px;
  background: #00619d;
  border-radius: 43px;
  display: none;
  margin: 0px 46%;
}
.cam_cap{
  position: relative;
}
