<div class="active-pink-3 active-pink-4 mb-4 p-2">
  <input class="form-control w-50 ml-3 input_search" type="text" placeholder="<%=I18n.t("layout.search") %>" name="search" value="<%= @search %>">
  <div class="result_search ml-1 w-50 position-absolute d-inline-block overflow-auto"></div><br>
  <div class="show_character m-2"></div>
</div>
