<div class="flexslider">
  <ul class="slides">
    <li>
      <img class="image_slideshow" src="/assets/flag" />
    </li>
    <li>
      <img class="image_slideshow" src="/assets/banner" />
    </li>
    <li>
      <img class="image_slideshow" src="/assets/banner" />
    </li>
  </ul>
</div>
